---
import Group from "../../../assets/svg/Group.svg";

const { ...jam } = Astro.props;
---

<a href=`/toutes_les_jams/${jam.id}`>
    <article
        class="border-1 border-drak-gray p-3 flex flex-col justify-between gap-2 w-80 rounded-md"
    >
        <div class="flex gap-2">
            <img src={jam.image_URL} alt="as" class="h-24" />
            <div class="flex flex-col gap-2">
                <h3>{jam.name}</h3>
                <p class="tiny line-clamp-2">{jam.description}</p>
            </div>
        </div>
        <div class="flex flex-col">
            {
                jam.time == "present" ? (
                    <p class="CD text-3xl">{jam.time_info}</p>
                ) : (
                    <p class="tiny">{jam.time_info}</p>
                )
            }
        </div>
        <div class="flex items-center gap-2 self-end">
            <Group />
            <p>{jam.team_NB}</p>
        </div>
    </article>
</a>

<script>
    const CD = document.querySelector(".CD");

    function count() {
        if (!CD.textContent) {
            return null
        }
        const parts = CD.textContent.trim().split(":");
        if (parts.length !== 3) return;

        let [hours, minutes, seconds] = parts.map(Number);

        let totalSeconds = hours * 3600 + minutes * 60 + seconds;
        if (totalSeconds <= 0) return;

        totalSeconds--;

        const h = String(Math.floor(totalSeconds / 3600)).padStart(2, "0");
        const m = String(Math.floor((totalSeconds % 3600) / 60)).padStart(
            2,
            "0",
        );
        const s = String(totalSeconds % 60).padStart(2, "0");

        CD.textContent = `${h}:${m}:${s}`;
    }

    setInterval(count, 1000)
</script>
