---
import CommentCard from "./CommentCard.astro";
import Comment from "../../../assets/svg/Comment.svg";

const { comment } = Astro.props;
---

<article class="flex flex-col gap-4 py-4 border-t-1 border-dark-gray">
    <div class="flex items-center gap-2">
        {
            !(comment.expand.user.image_URL.length == 0) ? (
                <img class="h-8 w-8" src={comment.expand.user.image_URL} />
            ) : (
                <span class="bg-secondary-2 h-8 w-8 rounded-md" />
            )
        }
        <p class="tiny">{comment.expand.user.name}</p>
    </div>
    <div class="flex justify-between">
    <p class="line-clamp-2">{comment.text}</p>
    <div class="flex gap-1 items-center self-end *:h-6">
        {comment.comment.length}
        <Comment />
    </div>
    </div>
    <div class="pl-8">
        {comment.comment.map((reply) => <CommentCard comment={reply} />)}
    </div>
</article>
