---
import Comment from "../../../assets/svg/Comment.svg";

const { ...post } = Astro.props;
---

<a href=`/forum/post/${post.id}`>
    <article class="flex flex-col gap-4 px-2 py-4 border-t-1 border-dark-gray">
        <div class="flex gap-2 items-center">
            {!(post.expand.user.image_URL.length == 0) ? (
                    <img class="h-8 w-8" src={post.expand.user.image_URL}/>
                ) : (
                    <span class="bg-secondary-2 h-8 w-8 rounded-md"></span>
                )
            }
            <p class="tiny">{post.expand.user.name}</p>
        </div>
        <header>
            <h4 class="font-semibold text-xl">{post.title}</h4>
        </header>
        <p class="line-clamp-5">{post.text}</p>
        {
            post.image_URL ? (
                <img
                    class="max-h-100"
                    src={post.image_URL}
                    alt="Image du post"
                    loading="lazy"
                />
            ) : (
                ""
            )
        }
        <div class="flex gap-1 items-center self-end *:h-6">
            {post.comment_NB}
            <Comment />
        </div>
    </article>
</a>
