---
import PP from "../../../assets/img/Rectangle_4.png";
import Dots from "../../../assets/svg/Dots.svg";

const tache = Astro.props;


import Pocketbase from "pocketbase";
const pb = new Pocketbase('https://hivejam.paolo-vincent.fr:443/');

---

<div x-data="{open: false}" class="relative grid grid-cols-[1fr_1fr_1fr_1fr_75px] gap-1 h-15 *:bg-light-gray *:flex *:items-center *:py-2 *:px-3 *:rounded-md">
    <div class="border-l-4 border-brand-1">
        {tache.name}
    </div>
    <div>
        {tache.description}
    </div>
    <div class="gap-4">

        {
            Object.keys(tache.user).length > 0 ? (
                
            tache?.expand?.user.map((user) => (
                <a href=`/profile/${user.id}` class="flex items-center gap-2">
                    {user.image ? (
                        <img
                            src={user.image_URL}
                            alt=""
                            height="40px"
                            width="40px"
                        />
                    ) : (
                        <img src={PP.src} alt="" height="40px" width="40px" />
                    )}
                </a>
            ))
        
            ) : (
                <p>Pas de responsables</p>
            )
        }
    </div>
    <div>
        <p class="uppercase">{tache.state}</p>
    </div>
    <button @click="open = !open" class="items-center justify-center cursor-pointer">
        <Dots />
    </button>
    <div x-show="open" class="absolute inset-0 border-l-4 border-brand-1">
        <form method="POST" class="grid grid-cols-[1fr_1fr_1fr_1fr_75px] gap-2 w-full items-center">
            <input type="hidden" name="formType" value="UpdateTask">
            <input type="hidden" name="taskid" value={tache.id}>
            <input type="text" name="name" placeholder={tache.name} class="border-1 rounded">
            <input type="text" name="description" placeholder="Description" class="border-1 rounded">
            <p>Pas encor fonctionnel :(</p>
            <select name="state" class="btn-light text-black border-1 normal-case">
                        <option value="pas commencé">pas commencé</option>
                        <option value="en cours">en cours</option>
                        <option value="terminé">terminé</option>
            </select>
            <div class="flex flex-col">
                <button type="submit" class="cursor-pointer justify-self-center">Modifier</button>
            </div>
        </form>
        <form method="POST">
            <input type="hidden" name="formType" value="DeleteTask">
            <input type="hidden" name="taskid" value={tache.id}>
            <button type="submit" class="cursor-pointer justify-self-center text-negative">Suprimer</button>
        </form>
    </div>
</div>
