---
import Crown from "../../../assets/svg/Crown.svg";

const {...team} = Astro.props;
console.log(team.expand?.game_jam)

// Cécupération des donné utilisateur
import Pocketbase from "pocketbase";
const pb = new Pocketbase('https://hivejam.paolo-vincent.fr:443/')

const cookies = Astro.cookies;
const token = cookies.get("pb_auth")?.value;

if (token) {
    pb.authStore.save(token);
}

let user = pb.authStore.model;

if (!user && pb.authStore.isValid) {
    await pb.collection("users").authRefresh();
    user = pb.authStore.model;
}
---

<a href=`/mes_jams/${team.id}`>
    <article class="border-1 border-drak-gray p-3 flex flex-col justify-between gap-2 w-80 rounded-md">
        <div class="flex gap-2">
            <img src={team.image_URL} alt="" class="h-24"/>
            <div class="flex flex-col gap-2">
                <h3>{team.expand.game_jam?.name}</h3>
                <p class="tiny line-clamp-2">{team.expand.game_jam?.description}</p>
            </div>
        </div>
        <div class="flex flex-col">
            {
                team.time == "present" ? (
                    <p class="CD text-3xl">{team.time_info}</p>
                ) : (
                    <p class="tiny">{team.time_info}</p>
                )
            }
        </div>
        {
            team.expand.game_jam.host == user?.id ? (
                <div class="self-end">
                    <Crown />
                </div>
            ) : (
                <div class="self-end"></div>
            )
        }
    </article>
</a>