---
import Layout from "../../layouts/Layout.astro";

import Game from "../../components/Card/Game/Game.astro";

import Next from "../../assets/svg/Next.svg";
import Prev from "../../assets/svg/Prev.svg";

// Récupération des donné utilisateur
import Pocketbase from "pocketbase";
const pb = new Pocketbase('https://hivejam.paolo-vincent.fr:443/')

const cookies = Astro.cookies;
const token = cookies.get("pb_auth")?.value;

if (token) {
    pb.authStore.save(token);
}

let user = pb.authStore.model;

if (!user && pb.authStore.isValid) {
    await pb.collection("users").authRefresh();
    user = pb.authStore.model;
}

const { id } = Astro.params;
import { getJamPage, createTeamForJam } from "../../../backend/backend.mjs";
const jam = await getJamPage(id);
console.log(jam);

if (Astro.request.method == "POST") {
    const data = await Astro.request.formData();
    console.log(data);
    const message = await createTeamForJam(jam?.name, jam?.id, user?.name, user?.id)
    console.log(message);
    return Astro.redirect(message.redirect)
}
---

<Layout>
    <div class="px-10 py-20 space-y-10">
        <section class="flex justify-between items-center">
            <h1>{jam?.name}</h1>
            <form method="post">
                <button type="submit" class="btn-full">Rejoindre</a>
            </form>
        </section>
        <section class="grid grid-cols-2 gap-10">
            <img src={jam?.image_URL} alt="" class="col-start-1" />
            <div class="flex flex-col justify-between py-11">
                <div class="flex flex-col justify-center items-center gap-4">
                    <h2>Compte à rebours</h2>
                    <div>
                        {
                            jam?.time == "present" ? (
                                <p class="CD text-3xl">{jam.time_info}</p>
                            ) : (
                                <p class="tiny">{jam?.time_info}</p>
                            )
                        }
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <h2>Thème</h2>
                    <p>{jam?.theme}</p>
                </div>
            </div>
        </section>
        <section class="space-y-5">
            <h2>Description</h2>
            <div set:html={jam?.description} />
        </section>
        <section>
            <h2>Jeux Soumis</h2>
            <div class="flex flex-col">
                <div
                    class="flex gap-6 overflow-x-scroll border-l-3 border-r-3 border-brand-1 px-10 py-2"
                >
                </div>
                <div class="flex justify-center gap-10">
                    <button
                        class="flex justify-center items-center border-2 border-brand-1 rounded-4xl p-2.5 h-10 w-10 cursor-pointer"
                    >
                        <Prev />
                    </button>
                    <button
                        class="flex justify-center items-center border-2 border-brand-1 rounded-4xl p-2.5 h-10 w-10 cursor-pointer"
                    >
                        <Next />
                    </button>
                </div>
            </div>
        </section>
    </div>
</Layout>

<script>
    const CDs = document.querySelectorAll(".CD");

    function count() {
        CDs.forEach((CD) => {
            if (!CD.textContent) {
                return null;
            }
            const parts = CD.textContent.trim().split(":");
            if (parts.length !== 3) return;

            let [hours, minutes, seconds] = parts.map(Number);

            let totalSeconds = hours * 3600 + minutes * 60 + seconds;
            if (totalSeconds <= 0) return;

            totalSeconds--;

            const h = String(Math.floor(totalSeconds / 3600)).padStart(2, "0");
            const m = String(Math.floor((totalSeconds % 3600) / 60)).padStart(
                2,
                "0",
            );
            const s = String(totalSeconds % 60).padStart(2, "0");

            CD.textContent = `${h}:${m}:${s}`;
        });
    }

    setInterval(count, 1000);
</script>