---
import Layout from "../../layouts/Layout.astro";
import Book from "../../assets/svg/Book.svg";
import Next from "../../assets/svg/Next.svg";
import Prev from "../../assets/svg/Prev.svg";
import { getArticle, getSimilarArticle } from "../../../backend/backend.mjs";
import Article from "../../components/Card/Forum/Article.astro";

const { id } = Astro.params;
const article = await getArticle(id);
const similarArticle = await getSimilarArticle(article?.topic);
---

<Layout>
    <div class="px-10 py-20 space-y-20">
        <section class="grid grid-cols-2 gap-8">
            <img src={article?.image_URL} alt="" class="max-h-100 justify-self-center" />
            <div class="flex flex-col justify-center items-center gap-8">
                <h1 class="text-center">{article?.title}</h1>
                <div class="flex items-center gap-8">
                    <p class="border rounded-md px-2.5 py-1">
                        {article?.topic}
                    </p>
                    <div class="flex items-center gap-2">
                        <Book />
                        <p>{article?.reading_time} min</p>
                    </div>
                    <p>{article?.date}</p>
                </div>
            </div>
        </section>
        <section class="space-y-10 grid grid-cols-5">
            <h2 class="col-start-2 col-end-6">Article</h2>
            <div set:html={article?.text} class="flex flex-col gap-4 col-start-2 col-end-5"></div>
        </section>
        <section class="space-y-10">
            <h2>D'autre articles</h2>
            <div class="flex flex-col">
                <div class="flex gap-6 overflow-x-scroll border-l-3 border-r-3 border-brand-1 px-10 py-2">
                    {similarArticle.map((team) => (
                        <div class="w-100">
                            <Article {...team} />
                        </div>
                    ))}
                </div>
                <div class="flex justify-center gap-10">
                    <button class="flex justify-center items-center border-2 border-brand-1 rounded-4xl p-2.5 h-10 w-10 cursor-pointer">
                        <Prev />
                    </button>
                    <button class="flex justify-center items-center border-2 border-brand-1 rounded-4xl p-2.5 h-10 w-10 cursor-pointer">
                        <Next />
                    </button>
                </div>
            </div>
        </section>
    </div>
</Layout>
